Source: scanmem
Section: utils
Priority: extra
Maintainer: Sebastian Parschauer <s.parschauer@gmx.de>
Uploaders: WANG Lu <coolwanglu@gmail.com>, Kartik Mistry <kartik@debian.org>
Build-Depends: autotools-dev,
               debhelper (>= 9),
               dh-python,
               intltool,
               libreadline-dev,
               libtool,
               python (>= 2.7)
Standards-Version: 3.9.8
X-Python-Version: >= 2.7
Homepage: https://github.com/scanmem/scanmem

Package: libscanmem1
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: libscanmem
Description: locate and modify a variable in a running process (library)
 Libscanmem provides the interfaces to scanmem and GameConqueror required to
 locate the address of a variable in a running process. This can be used for
 the analysis or modification of a hostile process on a compromised machine,
 for reverse engineering, or as a "pokefinder" to cheat at video games.

Package: libscanmem-dev
Architecture: any
Section: libdevel
Depends: libscanmem1 (= ${binary:Version}), ${misc:Depends}
Description: locate and modify a variable in a running process (development)
 Libscanmem provides the interfaces to scanmem and GameConqueror required to
 locate the address of a variable in a running process. This can be used for
 the analysis or modification of a hostile process on a compromised machine,
 for reverse engineering, or as a "pokefinder" to cheat at video games.
 This package contains the development files.

Package: scanmem
Architecture: any
Depends: libscanmem1 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Suggests: gameconqueror (= ${binary:Version})
Description: locate and modify a variable in a running process
 Scanmem is a simple interactive debugging utility for Linux, used to locate
 the address of a variable in a running process. This can be used for the
 analysis or modification of a hostile process on a compromised machine, for
 reverse engineering, or as a "pokefinder" to cheat at video games.

Package: gameconqueror
Architecture: any
Depends: gir1.2-gtk-3.0,
         libscanmem1 (= ${binary:Version}),
         policykit-1,
         python (>= 2.7),
         python-gi,
         ${misc:Depends},
         ${python:Depends}
Description: locate and modify a variable in a running process (GUI)
 GameConqueror is a GUI based on Python and GTK using libscanmem to locate
 the address of a variable in a running process. This can be used for the
 analysis or modification of a hostile process on a compromised machine, for
 reverse engineering, or as a "pokefinder" to cheat at video games.
 .
 GameConqueror provides a CheatEngine-alike user-friendly interface with more
 features than scanmem.
